<div>
  <h2 id="page-heading" data-cy="GenericImageHeading">
    <span jhiTranslate="trokeurApp.genericImage.home.title">GenericImages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="trokeurApp.genericImage.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-generic-image"
        [routerLink]="['/generic-image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="trokeurApp.genericImage.home.createLabel"> Créer un nouveau Generic Image </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="genericImages?.length === 0">
    <span jhiTranslate="trokeurApp.genericImage.home.notFound">Aucun Generic Image trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="genericImages && genericImages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="imagePath">
            <div class="d-flex">
              <span jhiTranslate="trokeurApp.genericImage.imagePath">Image Path</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tradeObject.id">
            <div class="d-flex">
              <span jhiTranslate="trokeurApp.genericImage.tradeObject">Trade Object</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let genericImage of genericImages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/generic-image', genericImage.id, 'view']">{{ genericImage.id }}</a>
          </td>
          <td>{{ genericImage.imagePath }}</td>
          <td>
            <div *ngIf="genericImage.tradeObject">
              <a [routerLink]="['/trade-object', genericImage.tradeObject.id, 'view']">{{ genericImage.tradeObject.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/generic-image', genericImage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/generic-image', genericImage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(genericImage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
