<div style="height: 100px"></div>
<div class="footer shadow-lg">
  <div class="row" style="height: 40px"></div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 mx-auto mt-15 text-white">
      Trockeur, une application de troc entre particuliers.
      <br />
      Développé pour le projet ECOM des M2GI Alternance - IM2AG
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 mx-auto mt-15 text-white">
      Equipe dev: Evan, Gérôme, David x2 & Eva
      <br />
      Aucun brevet en cours
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
