<div>
  <h2 id="page-heading" data-cy="TrockeurUserHeading">
    <span jhiTranslate="trokeurApp.trockeurUser.home.title">TrockeurUsers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="trokeurApp.trockeurUser.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-trockeur-user"
        [routerLink]="['/trockeur-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="trokeurApp.trockeurUser.home.createLabel"> Créer un nouveau Trockeur User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trockeurUsers?.length === 0">
    <span jhiTranslate="trokeurApp.trockeurUser.home.notFound">Aucun Trockeur User trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="trockeurUsers && trockeurUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="trokeurApp.trockeurUser.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zipCode">
            <div class="d-flex">
              <span jhiTranslate="trokeurApp.trockeurUser.zipCode">Zip Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="trokeurApp.trockeurUser.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="profilePicturePath">
            <div class="d-flex">
              <span jhiTranslate="trokeurApp.trockeurUser.profilePicturePath">Profile Picture Path</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="trokeurApp.trockeurUser.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trockeurUser of trockeurUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trockeur-user', trockeurUser.id, 'view']">{{ trockeurUser.id }}</a>
          </td>
          <td>{{ trockeurUser.address }}</td>
          <td>{{ trockeurUser.zipCode }}</td>
          <td>{{ trockeurUser.description }}</td>
          <td>{{ trockeurUser.profilePicturePath }}</td>
          <td>
            {{ trockeurUser.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/trockeur-user', trockeurUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/trockeur-user', trockeurUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(trockeurUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
