img {
  object-fit: contain;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.privateActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
