<div class="transactions-item horizontal-item card border-white mb-4 p-10 col-12">
  <div class="row justify-content-center align-items-center my-4">
    <!-- Objet de gauche -->
    <div class="card shadow border-warning mb-4" style="padding:0.5em;max-width: 20rem;align-items: center;display: flex;">
      <h6 class="mr-10"> Propriétaire : {{proposedObject?.trockeurUser?.user?.login}}</h6>
      <img src="/content/images/oiseau.png" class="card-img-top" alt="Image du produit"/>
      <h5 class="card-title text-truncate" style="max-width: 19rem;"> {{proposedObject?.name}} </h5>
      <h6 class="mr-10 text-truncate rows-4" style="max-width: 19rem; max-height: 10rem;"> {{proposedObject?.description}} </h6>
    </div>

    <!-- Symbole au milieu -->
    <img src="/content/images/swap.png" alt="Image"style="width:3rem; height:3rem;padding:0px;margin:0.3em"   class="item-image col-md-10 mr-2">


    <!-- Objet de droite -->
    <div class="card border-warning mb-4" style="padding:0.5em;max-width: 20rem;align-items: center;display: flex;">
      <h6 class="mr-10"> Propriétaire : {{wantedObject?.trockeurUser?.user?.login}}</h6>
      <img src="/content/images/miroir.png" class="card-img-top " alt="Image du produit"/>
      <h5 class="card-title text-truncate" style="max-width: 19rem;"> {{wantedObject?.name}} </h5>
      <h6 class="mr-10 text-truncate" style="max-width: 19rem; max-height: 10rem;"> {{wantedObject?.description}} </h6>

    </div>

  </div>


    <div class="row justify-content-center my-4">
    <!-- Transaction Proposée à quelqu'un d'autre -->
      <button *ngIf="propose" class="btn btn-danger text-white ml-2 mr-2" type="submit">
        <fa-icon icon="handshake-alt-slash" style="color: #ffffff"></fa-icon>
        <span class="icon-text" style="margin-left: 4px">Annuler Proposition</span>
      </button>


    <!-- Transaction Recue de quelqu'un d'autre -->
      <div *ngIf="recues" class="btn-group ml-2 mr-2 " role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary btn-danger text-white">
          <fa-icon icon="thumbs-down" style="color: #ffffff"></fa-icon>
          Refuser Transaction
        </button>
        <button type="button" class="btn btn-primary btn-success text-white">
          <fa-icon icon="thumbs-up" syle="color: #ffffff"></fa-icon>
          Accepter Transaction
        </button>
      </div>
    </div>
</div>


