.horizontal-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
  }
  
  .item-image {
    width: 50px;
    height: 50px;
  }

  .item-symbol {
    font-size: 24px;
  }
  
  .item-button {
    margin-left: auto;
  }
  
