.horizontal-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
  }
  
  img {
    object-fit: cover;
    width: 15rem;
    height: 15rem;
  }

  text {
    text-overflow:ellipsis;
  }

  .item-symbol {
    font-size: 24px;
  }
  
  .item-button {
    margin-left: auto;
  }
  
