<div class="row">
  <div class="col-md-12">
    <h1 class="display-2"><span>Bienvenue à toi, jeune trokeur</span></h1>
    <h2 class="text-muted display-8">La plateforme de troc entre particuliers</h2>

    <div [ngSwitch]="account !== null">
      <div *ngSwitchCase="true">
        <div class="alert alert-success">
          <span id="home-logged-message" *ngIf="account"> Vous êtes connecté en tant que "{{ account.login }}". </span>
        </div>

        <div class="font-weight-bold">Parcourir par catégorie</div>
        <div class="mt-3 mb-3">
          <a href="#" class="btn btn-warning">Categorie 1</a>
          <a href="#" class="btn btn-warning ml-3">Categorie 2</a>
          <a href="#" class="btn btn-warning ml-3">Categorie 3</a>
          <a href="#" class="btn btn-warning ml-3">Categorie 4</a>
        </div>
        <div class="mt-3">Parcourir tous les objets</div>
        <a href="#" class="btn btn-warning col-2 mt-3" routerLink="/product"> Voir </a>

        <div class="font-weight-bold mt-3">
          Proposer un objet
          <a href="/trade-object/new" class="btn btn-warning ml-3"> + </a>
        </div>
      </div>
      <!-- Close the ngSwitch div here -->

      <div class="alert alert-warning" *ngSwitchCase="false">
        Veuillez vous
        <a class="alert-link" (click)="login()">connecter</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Vous n'avez pas encore de compte ?</span>&nbsp;
        <a class="alert-link" routerLink="/account/register">Créer un compte</a>
      </div>
    </div>
  </div>
</div>
