<div class="row">
  <div class="col-md-6">
    <h1 class="display-3"><span>Bienvenue à toi, jeune trokeur</span></h1>
    <h2 class="text-muted display-8">La plateforme de troc entre particuliers</h2>

    <div [ngSwitch]="account !== null">
      <div *ngSwitchCase="true">
        <div class="alert alert-success">
          <span id="home-logged-message" *ngIf="account"> Vous êtes connecté en tant que "{{ account.login }}". </span>
        </div>
        <a class="btn btn-warning col-3 mt-1" routerLink="/product"> Voir tout les objets</a>
        <h3 class = "mt-4">Les objets à la une</h3>
        <div class="card shadow border-warning col-md-4"></div>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        Veuillez vous
        <a class="alert-link" (click)="login()">connecter</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Vous n'avez pas encore de compte ?</span>&nbsp;
        <a class="alert-link" routerLink="/account/register">Créer un compte</a>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="card shadow border-warning col-md-4" style="max-width: 45rem">
    <img src="/content/images/kylemcdonald.jpg"/>
    <div class=" card-body my-4"> <p>Kyle MacDonald est un homme d'origine canadienne, né le 3 octobre 1979 et originaire de Belcarra (Colombie-Britannique), qui s'est rendu célèbre pour être parvenu, par une série de trocs à partir d’un trombone rouge, à obtenir une maison dans la ville de Kipling en Saskatchewan.</p>
      <a href="https://fr.wikipedia.org/wiki/Kyle_MacDonald">En savoir plus</a>
  </div>
  <div class="col-md-1"></div>
</div>

