<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
	<button
		type="button"
		class="btn btn-outline-primary mb-4"
		id="dropdownManual"
		ngbDropdownAnchor
		(focus)="myDrop.open()"
	>
		Filtrer par catégorie
	</button>
	<div ngbDropdownMenu aria-labelledby="dropdownManual">
		<button (click)="filterByCategory(category.id)" *ngFor="let category of categories" ngbDropdownItem>{{category.name}}</button>
	</div>
</div>

<div class="list-product">
  <jhi-product-card
    *ngFor="let tradeObject of tradeObjectList"
    [tradeObject] = "tradeObject"
    [isPublic]="true">
  </jhi-product-card>
</div>
