<div class="container" style="width: 70rem;justify-content: center;">
  <div *ngIf="tradeObject">
    <ngb-carousel style="display: block;">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/content/images/logoTrokeur.png" alt="Random first slide" style="width: 100%;object-fit: contain;height: 25rem;"/>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/content/images/logo-jhipster.png" alt="Random second slide" style="width: 100%;object-fit: contain;height: 25rem;"/>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/content/images/logoTrokeur.png" alt="Random third slide" style="width: 100%;object-fit: contain;height: 25rem;"/>
        </div>
      </ng-template>
    </ngb-carousel>

    <hr />

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>


    <div class="container">
      <div class="row mb-4">
        <div class="col-sm">
          <strong>Titre : </strong>
          {{ tradeObject.name }}
        </div>
        <div class="col-sm">
          <strong>Etat : </strong>
          {{ tradeObject.state }}
        </div>
      </div>
      <div class="col-sm"> <strong>Description : </strong></div>
      <div class="col-sm mb-4"> {{ tradeObject.description }} </div>
      <div class="col-sm"> <strong>Adresse : </strong></div>
      <div class="col-sm mb-4" *ngIf="tradeObject.trockeurUser">{{ tradeObject.trockeurUser.address }} </div>
      <div class="col-sm mb-4" *ngIf="!tradeObject.trockeurUser"> Inconnue </div>
    </div>

    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
    </button>

    <a class="btn btn-warning" href="#">Troker</a>
  </div>
</div>
