<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="objectCategory">
      <h2 data-cy="objectCategoryDetailsHeading"><span jhiTranslate="trokeurApp.objectCategory.detail.title">Object Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ objectCategory.id }}</span>
        </dd>
        <dt><span jhiTranslate="trokeurApp.objectCategory.name">Name</span></dt>
        <dd>
          <span>{{ objectCategory.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/object-category', objectCategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
