<span *ngIf="state === 'Neuf'" class="text-muted"> État : <span class="badge rounded-pill text-white text-bg-info">{{state}}</span> </span>

<span *ngIf="state === 'Bon'" class="text-muted"> État : <span class="badge rounded-pill text-white text-bg-success">{{state}}</span> </span>

<span *ngIf="state === 'Moyen'" class="text-muted"> État : <span class="badge rounded-pill text-white text-bg-warning">{{state}}</span> </span>

<span *ngIf="state === 'Mauvais'" class="text-muted"> État : <span class="badge rounded-pill text-white text-bg-danger">{{state}}</span> </span>
